@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Rubik+Moonrocks&display=swap');


body {
    font-family: serif;
    padding: 20px;
    margin: 20px;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 960px;
}

:root {
    --primary-color: #20495B ;
    --secondary-color: #7ca7cb;
    --accent1-color: #99faff;
    --accent2-color: white;

  
    --heading-font: 'Rubik Moonrocks', serif;
    --paragraph-font: 'Helvetica', serif;


    --headline-color-on-white: #20495B;  /* headlines on a white background */ 
    --headline-color-on-color: #99faff ; /* headlines on a colored background */ 
    --paragraph-color-on-white: #20495B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #7ca7cb;
    --nav-background-color: #99faff;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik Moonrocks';
    color: var(--primary-color);
}

.hero {

    position: relative;
}


.hero img{
    
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    
}

.hero h1{
    position: relative;
    color:var(--headline-color-on-color);
    text-align: center;
}

.hero  article img{
    position: relative;
    float: right;
    width: 15%;
    top: -15px; 
    bottom: 15px;
}

.hero article  p{
    position: relative;
    color:white;
    font-weight: bolder;
    font-style: italic;
}

section h2 p{
    display: flex;
}

.sociallinks a{
 text-decoration: none;
}

nav {
    text-align: right;
    margin: 10px;
    
}

.navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 180px  2fr;
    align-items: center;
    background-color: var(--nav-background-color);
    max-width:960px;
    border: 15px solid #20495B;
    border-radius: 5%;
    font-size: large;
    font-weight: 400;
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
    display: flex;
    position: relative;
}

.navigation a {
    display: block;

}

.navigation a:hover{
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: underline;
    background-color: white;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 65vh;
}


.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    height: 35vh;
}

.center h2{
    margin-bottom: 5px;
}
.center img{
    height: 100%;
    margin-bottom: 15px;
}

.left-text, .right-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    margin-top: 10px;
}

.left-text{
    text-align: right;
}

.right-text{
    text-align: left;
}

.adventure h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
    padding: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto));
    gap:8px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90%;
    max-width: 100%;
    justify-content:space-around ;

  }



footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 35;
    color: var(--primary-color);
    text-align: left;
    position: relative;
    font-weight: 400;
    font-style: oblique;
    font-family: sans-serif;

}
.social-links{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    justify-items:center ;

}


/* Contact Us Page*/

.company-info {
    display: inline-block;
    width: 48%;
}

.company-info iframe {
    width:350px;
    border: 5px solid;
    border-radius: 25px;
}

.company-info:last-child {
    margin: 10px 10px 10px 10px;
    padding: 15px;

}

.company-info address {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    border-radius: 5%;
    font-size: larger;
    font-weight: 600;
}

section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    padding: 2rem;
}

.employee-profiles {
    display: flex;
    padding: 15px;
    margin: 15px;
    justify-content: space-between;
    justify-items: flex-end;
}

.employee-profiles img {
    width: 70%;
    max-width: 200px;
    border-radius: 20%;
    margin-bottom: 15px;
}

form {
    display: grid;
    gap: 10px;
    background: #c9ebf9;

}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 900;
    font-style: italic;
}

form input[type="text"], form input[type="email"], form textarea[type="text"] {
    width: 98%;
    padding: 5px;
    font-size: large;
}

form textarea {
    height: 100px;
}

form h5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    font-size: large;
}

form button {
    width: 100%;
    padding: 5px;
    font-size: large;
    font-weight: 900;
    font-style: italic;
    background: var(--accent1-color);
    border: 5px solid #20495B;
    border-radius: 5%;
}


footer {
    display: flex;
    background: #99faff;
    margin-top: 70px;
    margin-bottom: 15px;
    height: 5%;
    border: 15px solid #20495B;
    border-radius: 5%;
    padding: 0px;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: medium;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 10px;
}

/* Trips Page */



.book-now  img {
    max-width: 100%;
    width: 45%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    justify-content: center;
    justify-self: center;
    border-radius: 15%;
    align-self: center;
    margin-top: 35px;

} 

.book-now p{

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-style: oblique;
}

.book-now h1{
    display: flex;
    font-size: large;
    border: 2px aqua solid;
    border-radius: 15%;
    padding: 10px;
    width: 150px;
    background-color: #abd3f0;
    margin: auto;
    justify-content: center;
}

.trips-pictures{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    justify-content: center;
    text-align: center;
}

.trips-pictures img{
    width: 80%;
    height: 70%;
    border-radius: 5%;
}

.trips-pictures h3 {
    display: flex;
    font-size: large;
    border: 2px aqua solid;
    border-radius: 15%;
    padding: 5px;
    width: 100px;
    background-color: #abd3f0;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
}
