@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Rubik+Moonrocks&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #20495B ;
    --secondary-color: #7ca7cb ;
    --accent1-color: #99faff;
    --accent2-color: white;

  
    --heading-font: 'Rubik Moonrocks', serif;
    --paragraph-font: 'Helvetica', serif;


    --headline-color-on-white: #20495B;  /* headlines on a white background */ 
    --headline-color-on-color: #99faff ; /* headlines on a colored background */ 
    --paragraph-color-on-white: #20495B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #7ca7cb;
    --nav-background-color: #99faff;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

